# project
target/
.lein-repl-history
.lein-failures
.nrepl-port
logs/
*.log
.dir-locals.el
dev/resources/local.edn
dev/src/clj/local.clj
tmp/
resources/tradeshift_task/public/js/

# IDE
*.swp
.idea/
*.iml

# Duct locals
.dir-locals.el
dev/resources/local.edn
dev/src/clj/local.clj
dev/src/local.clj
profiles.clj
